<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouCut</title>
</head>
<body>
    <h1>Crie seu corte diretamente do YouTube!</h1>
    <form action="/download" method="POST">
        <label for="url">URL do YouTube:</label>
        <input type="text" name="url" id="url" required><br><br>

        <label for="start_time">Início (HH:MM:SS):</label>
        <input type="text" name="start_time" id="start_time" required><br><br>

        <label for="end_time">Início (HH:MM:SS):</label>
        <input type="text" name="end_time" id="end_time" required><br><br>

        <button type="submit">Cortar Vídeo</button>
    </form>

    <!-- Utilizando o Jinja2
    Esta condicional verifica se existe o valor video_id, executando ou ignorando o código
    O formulário só aparece quando um vídeo estiver disponível-->
    {% if video_id %}
    <form action="/delete" method="POST">
        <input type="hidden" name="video_id" value="{{ video_id }}">
        <button type="submit">OK</button>
    </form>
    {% endif%}
</body>
</html>